<section class="bingo-winners-block">
    <ul class="bingo-winners-list">
        mdr
        {% for winner in winners %}
            <li><span class="winner-name">{{ winner }}</span><span class="winner-count">{{ winner }}</span></li>
        {% endfor %}
    </ul>
</section>
