<section class="follower-me-block">
    <ul class="follower-me-list">
        mdr
        {% for winner in winners %}
            <li><span class="">{{ winner }}</span><span class="">{{ winner }}</span></li>
        {% endfor %}
    </ul>
</section>
