<section class="follower-me-block">
    <ul class="follower-me-list">
        {% if twitter %}
            <li><a href="{{ twitter }}">Twitter</a></li>
        {% endif %}
        {% if github %}
            <li><a href="{{ github }}">Google</a></li>
        {% endif %}
        {% if google %}
            <li><a href="{{ google }}">Google</a></li>
        {% endif %}
    </ul>
</section>
